<div id="page-wrapper" >
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12 space-box">


                <table border="2">
                    <tr border="2">
                        <th>
                            
                        </th>
                        <th>
                            <h4>NO.</h4>
                        </th>
                        <th>
                            <h4>BUY ID :</h4>
                        </th>
                        <th>
                            <h4>DATE :</h4>
                        </th>
                        <th>
                            <h4>PRODUCT NAME :</h4>
                        </th>
                        <th>
                            <h4>SKU-ID :</h4>
                        </th>
                        <th>
                            <h4>PAID :</h4>
                        </th>
                        <th>
                            <h4>STATUS :</h4>
                        </th>
                        <th>
                            <h4>QUANTITY :</h4>
                        </th>
                        <th>
                            <h4>TOTAL :</h4>
                        </th>

                    </tr>

                    <tr border="2">
                        <td>
                            <input type="checkbox"/>
                        </td>

                        <td>
                            <p>1.</p>
                        </td>
                        <td>
                            <p>#a23ffdf32</p>
                        </td>

                        <td>
                            <p>06/09/2021</p>
                        </td>
                        <td>
                            <p>Mens jeans</p>
                        </td>

                        <td>
                            <p>#11-MJ-148</p>
                        </td>
                        <td>
                            <p>no</p>
                        </td>

                        <td>
                            <p>pending</p>
                        </td>
                        <td>
                            <p>3</p>
                        </td>
                        <td>
                            <p>Rs.79543/-</p>
                        </td>

                    </tr>

                  </table>  
            </div>
        </div>
    </div>
</div>            